.navbar{
    background-color: darkblue;
    width:101.2%;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -100%;
    padding-bottom: 2%;
    padding-top: 2%;
    color: aliceblue;
}
.box{
    padding-top: 0%;
    padding-bottom: 0%;
    width: 10%;
   margin-left: 10%;
   border-radius: 100%;
   justify-content: center;
    align-items: center;
    background-color: black;
    font-size: xx-large;
}
.container{
    margin-left: 20%;
}
.user-score{
   margin-left: 34%;
   margin-top: 5%;
   margin-bottom: -5%;
   
   font-size: xx-large;
}
#comp-score{
  margin-left: 60%;
    
     font-size: xx-large;
}

.user-score1{
   margin-left: 34%;
   margin-top: 5%;
   margin-bottom: -4.7%;
   
   font-size: xx-large;
}
#comp-score1{
  margin-left: 60%;
    
     font-size: xx-large;
}


#msg-container{
   text-align: center;
    height: 30%;
    width:50%;
    background-color: gray;
    border-radius: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: xx-large;
    font-style: italic;
    
   }
.msg{
    margin-left: 30%;

}